<!-- Product review -->
<section class="product-review-wrp">
  <div class="container">
    <div class="row">
      {%- liquid
        assign has_specifications = false
        assign has_spec_blocks = false
        
        for block in section.blocks
          if block.type == 'specification'
            assign has_spec_blocks = true
            break
          endif
        endfor
        
        if has_spec_blocks
          for block in section.blocks
            if block.type == 'specification'
            assign spec_key = block.settings.spec_key
            assign custom_metafield = block.settings.custom_metafield
            assign metafield_value = ''
            
            if spec_key == 'custom' and custom_metafield != blank
              assign metafield_parts = custom_metafield | split: '.'
              if metafield_parts.size == 2
                assign namespace = metafield_parts[0]
                assign key = metafield_parts[1]
                assign metafield_value = product.metafields[namespace][key]
              endif
            else
              case spec_key
                when 'garantie'
                  assign metafield_value = product.metafields.spec.garantie
                when 'material'
                  assign metafield_value = product.metafields.spec.materiaal
                when 'stijl'
                  assign metafield_value = product.metafields.spec.stijl
                when 'breedte'
                  assign metafield_value = product.metafields.spec.breedte
                when 'hoogte'
                  assign metafield_value = product.metafields.spec.hoogte
                when 'gewicht'
                  assign metafield_value = product.metafields.spec.gewicht
                when 'lengte'
                  assign metafield_value = product.metafields.spec.lengte
                when 'dikte_blad'
                  assign metafield_value = product.metafields.spec.dikte_blad
                when 'dikte_rand_blad'
                  assign metafield_value = product.metafields.custom.dikte_rand_blad
                when 'kleur'
                  assign metafield_value = product.metafields.spec.kleur
                when 'diepte'
                  assign metafield_value = product.metafields.spec.diepte
                when 'montage'
                  assign metafield_value = product.metafields.custom.montage
              endcase
            endif
              
              if metafield_value != blank
                assign has_specifications = true
                break
              endif
            endif
          endfor
        else
          if product.metafields.spec.garantie or product.metafields.spec.materiaal or product.metafields.spec.breedte or product.metafields.spec.hoogte or product.metafields.spec.lengte or product.metafields.spec.dikte_blad or product.metafields.custom.dikte_rand_blad or product.metafields.spec.kleur or product.metafields.spec.gewicht or product.metafields.spec.diepte or product.metafields.custom.montage or product.metafields.spec.stijl != blank
            assign has_specifications = true
          endif
        endif
      -%}

      {% if has_specifications %}
        <div class="col-md-7 col-sm-12">
          <div class="specificaties-block" id="specificaties">
            <div class="titlebar">
              <h3>Specificaties</h3>
            </div>
            <table class="table table-borderless">
              <tbody>
                {% if has_spec_blocks %}
                  {%- comment -%} NEW: Use customizable specification blocks {%- endcomment -%}
                  {% for block in section.blocks %}
                    {% if block.type == 'specification' %}
                    {% assign spec_key = block.settings.spec_key %}
                    {% assign spec_label = block.settings.label %}
                    {% assign enable_filter = block.settings.enable_filter %}
                    {% assign custom_metafield = block.settings.custom_metafield %}
                    {% assign metafield_value = '' %}
                    
                    {% if spec_key == 'custom' and custom_metafield != blank %}
                      {%- comment -%} Parse custom metafield path like "custom.my_field" or "namespace.key" {%- endcomment -%}
                      {% assign metafield_parts = custom_metafield | split: '.' %}
                      {% if metafield_parts.size == 2 %}
                        {% assign namespace = metafield_parts[0] %}
                        {% assign key = metafield_parts[1] %}
                        {% assign metafield_value = product.metafields[namespace][key] %}
                      {% endif %}
                    {% else %}
                      {% case spec_key %}
                        {% when 'garantie' %}
                          {% assign metafield_value = product.metafields.spec.garantie %}
                        {% when 'material' %}
                          {% assign metafield_value = product.metafields.spec.materiaal %}
                        {% when 'stijl' %}
                          {% assign metafield_value = product.metafields.spec.stijl %}
                        {% when 'breedte' %}
                          {% assign metafield_value = product.metafields.spec.breedte %}
                        {% when 'hoogte' %}
                          {% assign metafield_value = product.metafields.spec.hoogte %}
                        {% when 'gewicht' %}
                          {% assign metafield_value = product.metafields.spec.gewicht %}
                        {% when 'lengte' %}
                          {% assign metafield_value = product.metafields.spec.lengte %}
                        {% when 'dikte_blad' %}
                          {% assign metafield_value = product.metafields.spec.dikte_blad %}
                        {% when 'dikte_rand_blad' %}
                          {% assign metafield_value = product.metafields.custom.dikte_rand_blad %}
                        {% when 'kleur' %}
                          {% assign metafield_value = product.metafields.spec.kleur %}
                        {% when 'diepte' %}
                          {% assign metafield_value = product.metafields.spec.diepte %}
                        {% when 'montage' %}
                          {% assign metafield_value = product.metafields.custom.montage %}
                      {% endcase %}
                    {% endif %}

                    {% unless metafield_value == blank %}
                      <tr {{ block.shopify_attributes }}>
                        <td>
                          <span>
                            {% if block.settings.show_info_icon and block.settings.popup_content != blank %}
                              <button type="button" data-bs-toggle="modal" data-bs-target="#spec-{{ block.id }}">
                                <img
                                  src="https://cdn.shopify.com/s/files/1/0474/0454/8262/files/info-circle-solid.svg?v=1750928404"
                                  alt=""
                                >
                              </button>
                            {% endif %}
                            {{ spec_label }}</span
                          >
                        </td>
                        <td>
                          {% if spec_key == 'fsc' %}
                            <span>
                              {% if metafield_value == true %}
                                <img
                                  class="fsc-logooo"
                                  loading="lazy"
                                  src="https://cdn.shopify.com/s/files/1/0474/0454/8262/files/fsc-logo.svg?v=1684134728"
                                  width="17"
                                  height="20"
                                  alt="fsc"
                                >
                              {% endif %}
                            </span>
                          {% else %}
                            {% assign is_array_field = false %}
                            {% if spec_key == 'material' or spec_key == 'stijl' or spec_key == 'kleur' %}
                              {% assign is_array_field = true %}
                            {% elsif spec_key == 'custom' and metafield_value contains '[' %}
                              {% assign is_array_field = true %}
                            {% endif %}
                            
                            {% if is_array_field %}
                            {% assign values = metafield_value
                              | remove: '"'
                              | remove: '['
                              | remove: ']'
                              | split: ','
                            %}
                            {% for value in values %}
                              {% assign clean_value = value | strip %}
                              {% assign is_descriptive = false %}
                              {% if clean_value contains '.'
                                or clean_value contains 'met een'
                                or clean_value contains 'voorzien van'
                                or clean_value.size > 40
                              %}
                                {% assign is_descriptive = true %}
                              {% endif %}

                              {% if is_descriptive or enable_filter == false %}
                                <span class="spec-description-text">{{ clean_value }}</span>
                              {% else %}
                                {% assign filter_namespace = '' %}
                                {% if spec_key == 'material' %}
                                  {% assign filter_namespace = 'spec.materiaal' %}
                                {% elsif spec_key == 'stijl' %}
                                  {% assign filter_namespace = 'spec.stijl' %}
                                {% elsif spec_key == 'kleur' %}
                                  {% assign filter_namespace = 'spec.kleur' %}
                                {% elsif spec_key == 'breedte' %}
                                  {% assign filter_namespace = 'spec.breedte' %}
                                {% elsif spec_key == 'lengte' %}
                                  {% assign filter_namespace = 'spec.lengte' %}
                                {% endif %}
                                <a
                                  href="{{ routes.all_products_collection_url }}?filter.v.availability=1&filter.p.m.{{ filter_namespace }}={{ clean_value | url_encode }}"
                                  class="spec-filter-link underline"
                                >
                                  {{ clean_value }}
                                </a>
                              {% endif %}
                              {% unless forloop.last %}, {% endunless %}
                            {% endfor %}
                            {% else %}
                              <span>{{ metafield_value }}</span>
                            {% endif %}
                          {% endif %}
                        </td>
                      </tr>
                    {% endunless %}
                  {% endif %}
                {% endfor %}
                
                {% else %}
                  {%- comment -%} FALLBACK: Use default hardcoded order if no specification blocks exist {%- endcomment -%}
                  {% unless product.metafields.spec.garantie == blank %}
                    <tr>
                      <td>
                        <span>
                          {% render 'spec-info-icon', spec_key: 'garantie', section: section %}
                          Garantie</span
                        >
                      </td>
                      <td>
                        <span>{{ product.metafields.spec.garantie }}</span>
                      </td>
                    </tr>
                  {% endunless %}
                  {% unless product.metafields.spec.materiaal == blank %}
                    <tr>
                      <td>
                        <span>
                          {% render 'spec-info-icon', spec_key: 'material', section: section %}
                          Materiaal</span
                        >
                      </td>
                      <td>
                        {% assign material_values = product.metafields.spec.materiaal
                          | remove: '"'
                          | remove: '['
                          | remove: ']'
                          | split: ','
                        %}
                        {% for material in material_values %}
                          {% assign clean_material = material | strip %}
                          {% assign is_descriptive = false %}
                          {% if clean_material contains '.'
                            or clean_material contains 'met een'
                            or clean_material contains 'voorzien van'
                            or clean_material.size > 40
                          %}
                            {% assign is_descriptive = true %}
                          {% endif %}

                          {% if is_descriptive %}
                            <span class="spec-description-text">{{ clean_material }}</span>
                          {% else %}
                            <a
                              href="{{ routes.all_products_collection_url }}?filter.v.availability=1&filter.p.m.spec.materiaal={{ clean_material | url_encode }}"
                              class="spec-filter-link underline"
                            >
                              {{ clean_material }}
                            </a>
                          {% endif %}
                          {% unless forloop.last %}, {% endunless %}
                        {% endfor %}
                      </td>
                    </tr>
                  {% endunless %}
                  {% unless product.metafields.spec.stijl == blank %}
                    <tr>
                      <td>
                        <span>
                          {% render 'spec-info-icon', spec_key: 'stijl', section: section %}
                          Stijl</span
                        >
                      </td>
                      <td>
                        {% assign style_values = product.metafields.spec.stijl
                          | remove: '"'
                          | remove: '['
                          | remove: ']'
                          | split: ','
                        %}
                        {% for style in style_values %}
                          {% assign clean_style = style | strip %}
                          {% assign is_descriptive = false %}
                          {% if clean_style contains '.'
                            or clean_style contains 'met een'
                            or clean_style contains 'voorzien van'
                            or clean_style.size > 40
                          %}
                            {% assign is_descriptive = true %}
                          {% endif %}

                          {% if is_descriptive %}
                            <span class="spec-description-text">{{ clean_style }}</span>
                          {% else %}
                            <a
                              href="{{ routes.all_products_collection_url }}?filter.v.availability=1&filter.p.m.spec.stijl={{ clean_style | url_encode }}"
                              class="spec-filter-link underline"
                            >
                              {{ clean_style }}
                            </a>
                          {% endif %}
                          {% unless forloop.last %}, {% endunless %}
                        {% endfor %}
                      </td>
                    </tr>
                  {% endunless %}
                  {% unless product.metafields.spec.breedte == blank %}
                    <tr>
                      <td>
                        <span>
                          {% render 'spec-info-icon', spec_key: 'breedte', section: section %}
                          Breedte</span
                        >
                      </td>
                      <td>
                        <span>{{ product.metafields.spec.breedte }}</span>
                      </td>
                    </tr>
                  {% endunless %}
                  {% unless product.metafields.spec.hoogte == blank %}
                    <tr>
                      <td>
                        <span>
                          {% render 'spec-info-icon', spec_key: 'hoogte', section: section %}
                          Hoogte</span
                        >
                      </td>
                      <td>
                        <span>{{ product.metafields.spec.hoogte }}</span>
                      </td>
                    </tr>
                  {% endunless %}
                  {% unless product.metafields.spec.gewicht == blank %}
                    <tr>
                      <td>
                        <span>
                          {% render 'spec-info-icon', spec_key: 'gewicht', section: section %}
                          Gewicht</span
                        >
                      </td>
                      <td>
                        <span>{{ product.metafields.spec.gewicht }}</span>
                      </td>
                    </tr>
                  {% endunless %}
                  {% unless product.metafields.spec.lengte == blank %}
                    <tr>
                      <td>
                        <span>
                          {% render 'spec-info-icon', spec_key: 'lengte', section: section %}
                          Lengte</span
                        >
                      </td>
                      <td>
                        <span>{{ product.metafields.spec.lengte }}</span>
                      </td>
                    </tr>
                  {% endunless %}
                  {% unless product.metafields.spec.dikte_blad == blank %}
                    <tr>
                      <td>
                        <span>
                          {% render 'spec-info-icon', spec_key: 'dikte_blad', section: section %}
                          Dikte blad</span
                        >
                      </td>
                      <td>
                        <span>{{ product.metafields.spec.dikte_blad }}</span>
                      </td>
                    </tr>
                  {% endunless %}
                  {% unless product.metafields.custom.dikte_rand_blad == blank %}
                    <tr>
                      <td>
                        <span>
                          {% render 'spec-info-icon', spec_key: 'dikte_rand_blad', section: section %}
                          Dikte rand blad</span
                        >
                      </td>
                      <td>
                        <span>{{ product.metafields.custom.dikte_rand_blad }}</span>
                      </td>
                    </tr>
                  {% endunless %}
                  {% unless product.metafields.spec.kleur == blank %}
                    <tr>
                      <td>
                        <span>
                          {% render 'spec-info-icon', spec_key: 'kleur', section: section %}
                          Kleur</span
                        >
                      </td>
                      <td>
                        {% assign color_values = product.metafields.spec.kleur
                          | remove: '"'
                          | remove: '['
                          | remove: ']'
                          | split: ','
                        %}
                        {% for color in color_values %}
                          {% assign clean_color = color | strip %}
                          {% assign is_descriptive = false %}
                          {% if clean_color contains '.'
                            or clean_color contains 'met een'
                            or clean_color contains 'voorzien van'
                            or clean_color.size > 40
                          %}
                            {% assign is_descriptive = true %}
                          {% endif %}

                          {% if is_descriptive %}
                            <span class="spec-description-text">{{ clean_color }}</span>
                          {% else %}
                            <a
                              href="{{ routes.all_products_collection_url }}?filter.v.availability=1&filter.p.m.spec.kleur={{ clean_color | url_encode }}"
                              class="spec-filter-link underline"
                            >
                              {{ clean_color }}
                            </a>
                          {% endif %}
                          {% unless forloop.last %}, {% endunless %}
                        {% endfor %}
                      </td>
                    </tr>
                  {% endunless %}
                  {% unless product.metafields.spec.diepte == blank %}
                    <tr>
                      <td>
                        <span>
                          {% render 'spec-info-icon', spec_key: 'diepte', section: section %}
                          Diepte</span
                        >
                      </td>
                      <td>
                        <span>{{ product.metafields.spec.diepte }}</span>
                      </td>
                    </tr>
                  {% endunless %}
                  {% unless product.metafields.custom.montage == blank %}
                    <tr>
                      <td>
                        <span>
                          {% render 'spec-info-icon', spec_key: 'montage', section: section %}
                          Montage</span
                        >
                      </td>
                      <td>
                        <span>{{ product.metafields.custom.montage }}</span>
                      </td>
                    </tr>
                  {% endunless %}
                {% endif %}
              </tbody>
            </table>
          </div>
          {% if product.description != blank %}
            <div class="description-block">
              <div class="titlebar">
                <h3>Omschrijving</h3>
              </div>
              <div class="detail">
                <p>
                  {{ product.description }}
                </p>
              </div>
              <a href="javascript:void(0);" class="btn-secondary">Toon meer <i class="fas fa-chevron-down"></i></a>
            </div>
          {% endif %}

          <div class="reviews-block" id="review-block-anchor">
            <div class="titlebar">
              <h3>Reviews</h3>
            </div>
            <div id="random_quotes"></div>
          </div>
        </div>
      {% endif %}
      <div class="col-md-5 col-sm-12">
        <div class="checkout-block">
          <div class="titlebar">
            <h3>{{ section.settings.title }}</h3>
          </div>
          {% if product.metafields.custom.upsell_products.value != blank %}
            <div class="row">
              {% for items in product.metafields.custom.upsell_products.value %}
                <div class="col-md-6 col-sm-12">
                  <div class="product-box coll-page">
                    <a href="{{ items.url }}">
                      <div class="box-img">
                        <img
                          srcset="
                            {%- if items.featured_media.width >= 165 -%}{{ items.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                            {%- if items.featured_media.width >= 360 -%}{{ items.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                            {%- if items.featured_media.width >= 533 -%}{{ items.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                            {%- if items.featured_media.width >= 720 -%}{{ items.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                            {%- if items.featured_media.width >= 940 -%}{{ items.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                            {%- if items.featured_media.width >= 1066 -%}{{ items.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                            {{ items.featured_media | image_url }} {{ items.featured_media.width }}w
                          "
                          src="{{ items.featured_media | image_url: width: 533 }}"
                          sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                          alt="{{ items.featured_media.alt | escape }}"
                          class="motion-reduce"
                          {% unless lazy_load == false %}
                            loading="lazy"
                          {% endunless %}
                          width="{{ items.featured_media.width }}"
                          height="{{ items.featured_media.height }}"
                        >
                        <div class="main-tags">
                          {%- for coll in items.collections -%}
                            {% if coll.title == settings.collectionss.title %}
                              <div class="notification-bar" style="background:none!important; padding: 0px!important;border-radius: 10px!important;">
                                <div class="notification-block">
                                    <h6 style="padding: 4px 10px !important; width: 100%; border-radius: 5px;">
                                        <b>PAAS</b>
                                        <span>DEALS</span>
                                    </h6>
                            </div>
                          </div>
                        {% endif %}
                          {% endfor %}

                          {%- if items.compare_at_price > items.price -%}
                            {% capture discount %}{{ items.compare_at_price_max | minus:items.price | money }}€{% endcapture %}
                            <label>€{{ discount | remove: ',00€' | remove: '€' }} korting</label>
                          {% endif %}
                        </div>
                      </div>
                      <div class="description">
                        <h3>{{ items.title }}</h3>
                        {% assign current_variant = items.selected_or_first_available_variant %}
                        {% if current_variant.inventory_quantity > 0 %}
                          <h5 class="stockss show-stock-desktop show-stock-tablet show-stock-mobile">
                            Op voorraad (vandaag besteld, binnen 1-10 werkdagen bezorgd)
                          </h5>
                        {% endif %}
                        {% if items.metafields.arena.stockinfo != blank and current_variant.inventory_quantity <= 0 %}
                          {% if items.selected_or_first_available_variant.available == false %}
                            <!-- Out of stock -->
                          {% else %}
                            <h5
                              class="weekss show-delivery-weeks-desktop show-delivery-weeks-tablet show-delivery-weeks-mobile"
                              data-levertijd="{{ items.metafields.arena.stockinfo }}"
                            ></h5>
                          {% endif %}
                        {% endif %}
                        {%- if items.compare_at_price > items.price -%}
                          <p>
                            Adviesprijs <span>{{ items.compare_at_price | money }}</span>
                          </p>
                        {% endif %}
                        <h6>{{ items.price | money }},-</h6>
                      </div>
                    </a>
                  </div>
                </div>
              {% endfor %}
            </div>
          {% else %}
            <div class="row">
              {% if section.settings.collection != blank %}
                {% assign collection_handle = section.settings.collection %}
                {% assign collection = collections[collection_handle] %}
                {% if collection.products_count > 0 %}
                  {% for product in collection.products limit: section.settings.products_limit %}
                    <div class="col-md-6 col-sm-12">
                      <div class="product-box coll-page">
                        <a href="{{ product.url }}">
                          <div class="box-img">
                            <img
                              srcset="
                                {%- if product.featured_media.width >= 165 -%}{{ product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                                {%- if product.featured_media.width >= 360 -%}{{ product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                                {%- if product.featured_media.width >= 533 -%}{{ product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                                {%- if product.featured_media.width >= 720 -%}{{ product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                                {%- if product.featured_media.width >= 940 -%}{{ product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                                {%- if product.featured_media.width >= 1066 -%}{{ product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                                {{ product.featured_media | image_url }} {{ product.featured_media.width }}w
                              "
                              src="{{ product.featured_media | image_url: width: 533 }}"
                              sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                              alt="{{ product.featured_media.alt | escape }}"
                              class="motion-reduce"
                              {% unless lazy_load == false %}
                                loading="lazy"
                              {% endunless %}
                              width="{{ product.featured_media.width }}"
                              height="{{ product.featured_media.height }}"
                            >
                            <div class="main-tags">
                              {%- for coll in product.collections -%}
                                {% if coll.title == settings.collectionss.title %}
                                  <div class="notification-bar" style="background:none!important; padding: 0px!important;border-radius: 10px!important;">
                                    <div class="notification-block">
                                        <h6 style="padding: 4px 10px !important; width: 100%; border-radius: 5px;">
                                            <b>PAAS</b>
                                            <span>DEALS</span>
                                        </h6>
                                </div>
                              </div>
                            {% endif %}
                              {% endfor %}

                              {%- if product.compare_at_price > product.price -%}
                                {% capture discount %}{{ product.compare_at_price_max | minus:product.price | money }}€{% endcapture %}
                                <label>€{{ discount | remove: ',00€' | remove: '€' }} korting</label>
                              {% endif %}
                            </div>
                          </div>
                          <div class="description">
                            <h3>{{ product.title }}</h3>
                            {% assign current_variant = product.selected_or_first_available_variant %}
                            {% if current_variant.inventory_quantity > 0 %}
                              <h5 class="stockss show-stock-desktop show-stock-tablet show-stock-mobile">
                                Op voorraad (vandaag besteld, binnen 1-10 werkdagen bezorgd)
                              </h5>
                            {% endif %}
                            {% if product.metafields.arena.stockinfo != blank
                              and current_variant.inventory_quantity <= 0
                            %}
                              {% if product.selected_or_first_available_variant.available == false %}
                                <!-- Out of stock -->
                              {% else %}
                                <h5
                                  class="weekss show-delivery-weeks-desktop show-delivery-weeks-tablet show-delivery-weeks-mobile"
                                  data-levertijd="{{ product.metafields.arena.stockinfo }}"
                                ></h5>
                              {% endif %}
                            {% endif %}
                            {%- if product.compare_at_price > product.price -%}
                              <p>
                                Adviesprijs <span>{{ product.compare_at_price | money }}</span>
                              </p>
                            {% endif %}
                            <h6>{{ product.price | money }},-</h6>
                          </div>
                        </a>
                      </div>
                    </div>
                  {% endfor %}
                {% endif %}
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  $(document).ready(function () {
    // Function to remove empty or whitespace-only tags
    function removeEmptyTags() {
      $('.detail')
        .contents()
        .filter(function () {
          // Check if the node is a text node and contains only whitespace or non-breaking spaces
          if (this.nodeType === 3 && !/\S/.test(this.nodeValue.replace(/&nbsp;/g, ''))) {
            return true;
          }
          // Check if the element is empty or contains only whitespace or non-breaking spaces
          if (this.nodeType === 1) {
            var $this = $(this);
            if (
              $this.is(':empty') ||
              !$this
                .text()
                .trim()
                .replace(/&nbsp;/g, '').length
            ) {
              return true;
            }
          }
          return false;
        })
        .remove();
    }

    // Call the function on document ready
    removeEmptyTags();

    // Handle delivery time for product cards
    function updateDeliveryTimes() {
      $('.product-box .weekss').each(function () {
        var $this = $(this);
        var levertijdText = $this.data('levertijd');

        if (levertijdText) {
          var updatedText = processDeliveryTime(levertijdText);
          $this.text(updatedText);
        }
      });
    }

    function processDeliveryTime(levertijdText) {
      const rangeRegex = /tussen de\s+(\d+)\s+en\s+(\d+)\s+weken/i;
      const singleWeekRegex = /(\d+)\s*weken?/i;
      const vanafWeekRegex = /vanaf\s+week\s+(\d+)/i;

      let updatedText = levertijdText;

      if (rangeRegex.test(levertijdText)) {
        let match = levertijdText.match(rangeRegex);
        let earliestWeek = parseInt(match[1]);
        let dateAndMonth = getMondayOfWeekFromToday(earliestWeek);
        updatedText = `Levering vanaf ${dateAndMonth}`;
      } else if (vanafWeekRegex.test(levertijdText)) {
        let match = levertijdText.match(vanafWeekRegex);
        let weekNumber = parseInt(match[1]);
        let dateAndMonth = getMondayOfWeek(weekNumber);
        updatedText = `Levering vanaf ${dateAndMonth}`;
      } else if (singleWeekRegex.test(levertijdText)) {
        let match = levertijdText.match(singleWeekRegex);
        let weekNumber = parseInt(match[1]);
        let dateAndMonth = getMondayOfWeek(weekNumber);
        updatedText = `Levering vanaf ${dateAndMonth}`;
      }

      return updatedText;
    }

    function getMondayOfWeekFromToday(weeksFromToday) {
      let today = new Date();
      let targetDate = new Date(today.getFullYear(), today.getMonth(), today.getDate() + weeksFromToday * 7);

      // Get the Monday of the target week
      let day = targetDate.getDay();
      let diffToMonday = day === 0 ? -6 : 1 - day; // Adjust for Sunday = 0
      let monday = new Date(targetDate);
      monday.setDate(targetDate.getDate() + diffToMonday);

      let mondayDay = monday.getDate();
      const monthName = monday.toLocaleString('nl-NL', { month: 'long' });
      return `${mondayDay} ${monthName}`;
    }

    function getMondayOfWeek(weekNumber, year) {
      year = year || new Date().getFullYear();
      let jan1 = new Date(year, 0, 1);
      let jan1Day = jan1.getDay();
      let offset = jan1Day <= 4 ? 1 - jan1Day : 8 - jan1Day;
      let monday = new Date(year, 0, 1 + offset + (weekNumber - 1) * 7);
      let day = monday.getDate();
      const monthName = monday.toLocaleString('nl-NL', { month: 'long' }); // Dutch month
      return `${day} ${monthName}`;
    }

    // Call the function on document ready
    updateDeliveryTimes();

    dquote();

    dquote();

    function dquote() {
      var quotes = [
        {
          name: 'kenzo',
          quote:
            'Zeer tevreden van de meubels ! Wat staan ze hier prachtig !<br>Ook dienst na verkoop niets op aan te merken !<br>Vlot bereikbaar, zeer snel feedback, behulpzaam en vriendelijk !<br>Een aanrader !',
        },

        { name: 'Peter', quote: 'Zeer nette en vlotte levering en betaalbaar' },

        { name: 'Sjoerd', quote: 'Goede service, Korte levertijd, Prima volgens afspraak.' },

        {
          name: 'Henk',
          quote:
            'Wat een geweldige service en een fantastisch product! We genieten iedere dag weer opnieuw van dit prachtige product!',
        },

        {
          name: 'Hans van der Post',
          quote:
            'Correct behandeld in toonzaal.Duidelijke afspraken qua levering en betaling. Tijdig op <br>de hoogte gebracht van datum feitelijke levering. Keurig eubels gemonteerd en alle <br>verpakking meegenomen. <br><br>Kortom: zeer prettig zakendoen met de Meubel Importeur',
        },

        {
          name: 'Rob',
          quote:
            "Erg goede kwaliteit, snelle levering en het is allemaal zo in elkaar gezet. Zoals ze zo<br>mooi zeggen in het Nederlands 'een kind kan de was doen'",
        },

        {
          name: 'Danielle',
          quote:
            'Super service! De levering verliep perfect, zelf een moment kunnen kiezen en van te<br>voren ook nog gebeld worden als de bezorger er bijna was. Heel blij met de eubels,<br>geweldige prijs kwaliteit verhouding! 3,5 jaar geleden al salontafels, een tv meubel en<br>een vakkenkast gekocht en nu de set compleet gemaakt met een eettafel en<br>dressoir!',
        },

        { name: 'Angelique Pouw', quote: 'Top service en alle keren goede kwaliteit!' },

        { name: 'R', quote: 'Alles vlot verlopen, op tijd en volgens afspraak geleverd en de tafel is prachtig! :)' },

        { name: 'remy', quote: 'Mooie kast, uitstekende kwaliteit en nette bezorging. Top' },

        {
          name: 'Dorus Klinkert',
          quote:
            'Netjes geleverd en gemonteerd afval meegenomen alles op zijn plaats gezet beveel<br>jullie zeker aan bij familie en vrienden',
        },

        { name: 'Casper Van Herwaarden', quote: 'Erg snelle levering en goede prijs-/kwaliteitverhouding!' },

        { name: 'Maura', quote: 'Supermooi meubel, snelle levering en fijne service!' },

        {
          name: 'Anne Van H',
          quote:
            'Super goed bedrijf! Bestelling snel bezorgd. Goede service en mooie producten. Zou<br>er zeker weer bestellen.',
        },

        {
          name: 'Dirk Weller',
          quote:
            'Alles ging naar wens, op tijd geleverd en voldoet volledig aan de verwachting en dat<br>voor die prijs .. 😉👍',
        },
      ];

      var shownQuotes = JSON.parse(localStorage.getItem('shownQuotes')) || [];
      var newQuotes = [];

      while (newQuotes.length < 3) {
        var dquote = quotes[Math.floor(Math.random() * quotes.length)];
        if (!shownQuotes.includes(dquote.name)) {
          newQuotes.push(dquote);
          shownQuotes.push(dquote.name);
        }
        if (shownQuotes.length === quotes.length) {
          shownQuotes = [];
        }
      }

      localStorage.setItem('shownQuotes', JSON.stringify(shownQuotes));

      var html = '';
      newQuotes.forEach(function (dquote) {
        html +=
          '<div class="review-box">' +
          '<h6><span>' +
          '<img src="https://cdn.shopify.com/s/files/1/0563/8412/7158/files/Vector_4_e0f1a400-0cc9-4026-9216-0dbef3424057.svg?v=1718273262" alt="">' +
          '<img src="https://cdn.shopify.com/s/files/1/0563/8412/7158/files/Vector_4_e0f1a400-0cc9-4026-9216-0dbef3424057.svg?v=1718273262" alt="">' +
          '<img src="https://cdn.shopify.com/s/files/1/0563/8412/7158/files/Vector_4_e0f1a400-0cc9-4026-9216-0dbef3424057.svg?v=1718273262" alt="">' +
          '<img src="https://cdn.shopify.com/s/files/1/0563/8412/7158/files/Vector_4_e0f1a400-0cc9-4026-9216-0dbef3424057.svg?v=1718273262" alt="">' +
          '<img src="https://cdn.shopify.com/s/files/1/0563/8412/7158/files/Vector_4_e0f1a400-0cc9-4026-9216-0dbef3424057.svg?v=1718273262" alt="">' +
          '</span>' +
          '</h6>' +
          '<ul><li class="re-name">' +
          dquote['name'] +
          '</li><li>Heeft dit artikel gekocht</li></ul>' +
          '<div class="col">' +
          '<p>' +
          dquote['quote'] +
          '</p>' +
          '</div>' +
          '</div>';
      });

      $('#random_quotes').html(html);
    }
  });
</script>

<style>
  /* Stock Information Visibility Controls */
  {% unless settings.show_stock_desktop %}
    .show-stock-desktop {
      display: none !important;
    }
  {% endunless %}

  {% unless settings.show_stock_tablet %}
    @media (max-width: 1024px) and (min-width: 768px) {
      .show-stock-tablet {
        display: none !important;
      }
    }
  {% endunless %}

  {% unless settings.show_stock_mobile %}
    @media (max-width: 767px) {
      .show-stock-mobile {
        display: none !important;
      }
    }
  {% endunless %}

  /* Delivery Weeks Visibility Controls */
  {% unless settings.show_delivery_weeks_desktop %}
    .show-delivery-weeks-desktop {
      display: none !important;
    }
  {% endunless %}

  {% unless settings.show_delivery_weeks_tablet %}
    @media (max-width: 1024px) and (min-width: 768px) {
      .show-delivery-weeks-tablet {
        display: none !important;
      }
    }
  {% endunless %}

  {% unless settings.show_delivery_weeks_mobile %}
    @media (max-width: 767px) {
      .show-delivery-weeks-mobile {
        display: none !important;
      }
    }
  {% endunless %}

  /* List styling for description block ul elements */
  .description-block .detail ul {
    list-style-type: disc !important;
    padding-left: 20px !important;
  }

  .description-block .detail ul li {
    list-style-type: disc !important;
    font-size: 15px;
    display: list-item !important;
    font-family: Poppins, sans-serif;
  }
</style>

<!-- popup model code -->
{%- for block in section.blocks -%}
  {%- if block.type == 'specification' and block.settings.show_info_icon and block.settings.popup_content != blank -%}
    <div
      class="modal fade description-modal"
      id="spec-{{ block.id }}"
      tabindex="-1"
      aria-labelledby="spec-{{ block.id }}-Label"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ block.settings.label }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal">
              Sluiten
              <img
                src="https://cdn.shopify.com/s/files/1/0474/0454/8262/files/close-icon-black.svg?v=1726308511"
                alt=""
              >
            </button>
          </div>
          <div class="modal-body">
            {{ block.settings.popup_content }}
          </div>
        </div>
      </div>
    </div>
  {%- endif -%}
{%- endfor -%}

<style>
  /* Specification table styling */
  .specificaties-block table.table.table-borderless tbody tr:nth-child(odd) {
    background-color: #f1f1f1 !important;
  }

  .specificaties-block table.table.table-borderless tbody tr:nth-child(even) {
    background-color: transparent !important;
  }

  .specificaties-block table.table.table-borderless tbody tr:nth-child(odd) td {
    background-color: #f1f1f1 !important;
  }

  .specificaties-block table.table.table-borderless tbody tr:nth-child(even) td {
    background-color: transparent !important;
  }

  .specificaties-block table tbody tr td:first-child {
    border-radius: 4px 0 0 4px;
    vertical-align: middle;
  }

  .specificaties-block table tbody tr td:last-child {
    border-radius: 0 4px 4px 0;
    padding: 8px 12px;
    vertical-align: middle;
  }

  /* Specification filter links styling */
  .specificaties-block table tbody tr td:last-child a {
    background: inherit;
    padding: 2px 8px;
    border-radius: 4px;
    text-decoration: none;
    color: inherit;
    transition: background-color 0.3s ease;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  .specificaties-block table tbody tr td:last-child a:hover {
    background: rgba(0, 0, 0, 0.1);
  }

  /* Specification span styling - same as links */
  .specificaties-block table tbody tr td:last-child span {
    background: inherit;
    padding: 4px 8px;
    border-radius: 4px;
    display: inline-block;
  }

  /* Do NOT style descriptive text as clickable boxes */
  .specificaties-block table tbody tr td:last-child span.spec-description-text {
    background: transparent;
    padding: 0;
    border-radius: 0;
    border: none;
    display: inline;
  }
</style>

{% schema %}
{
  "name": "PDP specificaties",
  "settings": [
    {
      "type": "paragraph",
      "content": "ℹ️ Als je GEEN specificatie blocks toevoegt, wordt automatisch de standaard volgorde gebruikt. Voeg '📋 Specificatie Veld' blocks toe om de volgorde aan te passen."
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
      "type": "number",
      "id": "products_limit",
      "label": "Number of Products",
      "default": 6
    }
  ],
  "blocks": [
    {
      "type": "specification",
      "name": "📋 Specificatie Veld",
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "Label",
          "info": "Naam van de specificatie zoals getoond op de pagina (bijv. 'Garantie', 'Breedte')"
        },
        {
          "type": "select",
          "id": "spec_key",
          "label": "Specificatie Type",
          "options": [
            { "value": "garantie", "label": "Garantie" },
            { "value": "material", "label": "Materiaal" },
            { "value": "stijl", "label": "Stijl" },
            { "value": "breedte", "label": "Breedte" },
            { "value": "diepte", "label": "Diepte" },
            { "value": "hoogte", "label": "Hoogte" },
            { "value": "gewicht", "label": "Gewicht" },
            { "value": "lengte", "label": "Lengte" },
            { "value": "dikte_blad", "label": "Dikte blad" },
            { "value": "dikte_rand_blad", "label": "Dikte rand blad" },
            { "value": "kleur", "label": "Kleur" },
            { "value": "montage", "label": "Montage" },
            { "value": "custom", "label": "Custom Metafield" }
          ],
          "default": "garantie"
        },
        {
          "type": "text",
          "id": "custom_metafield",
          "label": "Custom Metafield Path",
          "info": "Alleen gebruiken als 'Custom Metafield' is geselecteerd. Format: namespace.key (bijv. 'custom.my_field' of 'mijn_namespace.mijn_key')",
          "placeholder": "custom.my_field"
        },
        {
          "type": "checkbox",
          "id": "enable_filter",
          "label": "Enable filter link",
          "info": "Als actief, wordt de waarde een klikbare link naar de collectie pagina met filter",
          "default": true
        },
        {
          "type": "header",
          "content": "Info Popup (optioneel)"
        },
        {
          "type": "checkbox",
          "id": "show_info_icon",
          "label": "Toon info icoon",
          "info": "Voegt een info icoon toe naast het label dat een popup opent",
          "default": false
        },
        {
          "type": "richtext",
          "id": "popup_content",
          "label": "Popup Content",
          "info": "Content die wordt getoond in de popup wanneer op het info icoon wordt geklikt"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "PDP specificaties",
      "blocks": [
        {
          "type": "specification",
          "settings": {
            "label": "Garantie",
            "spec_key": "garantie",
            "enable_filter": false
          }
        },
        {
          "type": "specification",
          "settings": {
            "label": "Materiaal",
            "spec_key": "material",
            "enable_filter": true
          }
        },
        {
          "type": "specification",
          "settings": {
            "label": "Stijl",
            "spec_key": "stijl",
            "enable_filter": true
          }
        },
        {
          "type": "specification",
          "settings": {
            "label": "Breedte",
            "spec_key": "breedte",
            "enable_filter": false
          }
        },
        {
          "type": "specification",
          "settings": {
            "label": "Hoogte",
            "spec_key": "hoogte",
            "enable_filter": false
          }
        },
        {
          "type": "specification",
          "settings": {
            "label": "Gewicht",
            "spec_key": "gewicht",
            "enable_filter": false
          }
        },
        {
          "type": "specification",
          "settings": {
            "label": "Lengte",
            "spec_key": "lengte",
            "enable_filter": true
          }
        },
        {
          "type": "specification",
          "settings": {
            "label": "Dikte blad",
            "spec_key": "dikte_blad",
            "enable_filter": false
          }
        },
        {
          "type": "specification",
          "settings": {
            "label": "Dikte rand blad",
            "spec_key": "dikte_rand_blad",
            "enable_filter": false
          }
        },
        {
          "type": "specification",
          "settings": {
            "label": "Kleur",
            "spec_key": "kleur",
            "enable_filter": true
          }
        },
        {
          "type": "specification",
          "settings": {
            "label": "Diepte",
            "spec_key": "diepte",
            "enable_filter": false
          }
        },
        {
          "type": "specification",
          "settings": {
            "label": "Montage",
            "spec_key": "montage",
            "enable_filter": false
          }
        }
      ]
    }
  ]
}
{% endschema %}
