<!-- Series Product -->
<section class="series-product-wrp">
    <div class="container">
        <div class="section-header">
          <div class="description">
            <h3>{{ section.settings.title }}</h3>
          </div>
        </div>
        <div class="row">
          {% for block in section.blocks %}
            {% if block.settings.image1 != blank %}
            <div class="col-md-4 col-sm-12">
                <div class="series-prd-box">
                    <div class="box-img">
                        <img src="{{ block.settings.image1 | img_url: 'master' }}" alt="" />
                    </div>
                    <div class="detail">
                        <h3>{{ block.settings.title1 }}</h3>
                        <p>{{ block.settings.description1 }}</p>
                        <a href="{{ block.settings.link1 }}" class="btn-main">{{ block.settings.button1 }}</a>
                    </div>
                </div>
            </div>
              {% endif %}
            {% if block.settings.image2 != blank %}
            <div class="col-md-4 col-sm-12">
                <div class="series-prd-box">
                    <div class="box-img">
                        <img src="{{ block.settings.image2 | img_url: 'master' }}" alt="" />
                    </div>
                    <div class="detail">
                        <h3>{{ block.settings.title2 }}</h3>
                        <p>{{ block.settings.description2 }}</p>
                        <a href="{{ block.settings.link2 }}" class="btn-main">{{ block.settings.button2 }}</a>
                    </div>
                </div>
            </div>
              {% endif %}
            {% if block.settings.image3 != blank %}
            <div class="col-md-4 col-sm-12">
                <div class="series-prd-box">
                    <div class="box-img">
                        <img src="{{ block.settings.image3 | img_url: 'master' }}" alt="" />
                    </div>
                    <div class="detail">
                        <h3>{{ block.settings.title3 }}</h3>
                        <p>{{ block.settings.description3 }}</p>
                        <a href="{{ block.settings.link3 }}" class="btn-main">{{ block.settings.button3 }}</a>
                    </div>
                </div>
            </div>
              {% endif %}
            {% if block.settings.image4 != blank %}
            <div class="col-md-4 col-sm-12">
                <div class="series-prd-box">
                    <div class="box-img">
                        <img src="{{ block.settings.image4 | img_url: 'master' }}" alt="" />
                    </div>
                    <div class="detail">
                        <h3>{{ block.settings.title4 }}</h3>
                        <p>{{ block.settings.description4 }}</p>
                        <a href="{{ block.settings.link4 }}" class="btn-main">{{ block.settings.button4 }}</a>
                    </div>
                </div>
            </div>
              {% endif %}
            {% if block.settings.image5 != blank %}
            <div class="col-md-4 col-sm-12">
                <div class="series-prd-box">
                    <div class="box-img">
                        <img src="{{ block.settings.image5 | img_url: 'master' }}" alt="" />
                    </div>
                    <div class="detail">
                        <h3>{{ block.settings.title5 }}</h3>
                        <p>{{ block.settings.description5 }}</p>
                        <a href="{{ block.settings.link5 }}" class="btn-main">{{ block.settings.button5 }}</a>
                    </div>
                </div>
            </div>
              {% endif %}
            {% if block.settings.image6 != blank %}
            <div class="col-md-4 col-sm-12">
                <div class="series-prd-box">
                    <div class="box-img">
                        <img src="{{ block.settings.image6 | img_url: 'master' }}" alt="" />
                    </div>
                    <div class="detail">
                        <h3>{{ block.settings.title6 }}</h3>
                        <p>{{ block.settings.description6 }}</p>
                        <a href="{{ block.settings.link6 }}" class="btn-main">{{ block.settings.button6 }}</a>
                    </div>
                </div>
            </div>
              {% endif %}
            {% if block.settings.image7 != blank %}
            <div class="col-md-4 col-sm-12">
                <div class="series-prd-box">
                    <div class="box-img">
                        <img src="{{ block.settings.image7 | img_url: 'master' }}" alt="" />
                    </div>
                    <div class="detail">
                        <h3>{{ block.settings.title7 }}</h3>
                        <p>{{ block.settings.description7 }}</p>
                        <a href="{{ block.settings.link7 }}" class="btn-main">{{ block.settings.button7 }}</a>
                    </div>
                </div>
            </div>
              {% endif %}
            {% if block.settings.image8 != blank %}
            <div class="col-md-4 col-sm-12">
                <div class="series-prd-box">
                    <div class="box-img">
                        <img src="{{ block.settings.image8 | img_url: 'master' }}" alt="" />
                    </div>
                    <div class="detail">
                        <h3>{{ block.settings.title8 }}</h3>
                        <p>{{ block.settings.description8 }}</p>
                        <a href="{{ block.settings.link8 }}" class="btn-main">{{ block.settings.button8 }}</a>
                    </div>
                </div>
            </div>
              {% endif %}
            {% if block.settings.image9 != blank %}
            <div class="col-md-4 col-sm-12">
                <div class="series-prd-box">
                    <div class="box-img">
                        <img src="{{ block.settings.image9 | img_url: 'master' }}" alt="" />
                    </div>
                    <div class="detail">
                        <h3>{{ block.settings.title9 }}</h3>
                        <p>{{ block.settings.description9 }}</p>
                        <a href="{{ block.settings.link9 }}" class="btn-main">{{ block.settings.button9 }}</a>
                    </div>
                </div>
            </div>
              {% endif %}
            {% if block.settings.image10 != blank %}
            <div class="col-md-4 col-sm-12">
                <div class="series-prd-box">
                    <div class="box-img">
                        <img src="{{ block.settings.image10 | img_url: 'master' }}" alt="" />
                    </div>
                    <div class="detail">
                        <h3>{{ block.settings.title10 }}</h3>
                        <p>{{ block.settings.description10 }}</p>
                        <a href="{{ block.settings.link10 }}" class="btn-main">{{ block.settings.button10 }}</a>
                    </div>
                </div>
            </div>
              {% endif %}
          {% endfor %}
        </div>
        <!-- <div id="custom-pagination-container"></div> -->
        <div class="pagina-block">
            <!-- Pagination content -->
        </div>
    </div>
    <style>
      .section-header {
    text-align: center;
    margin-bottom: 50px;
}
    </style>
</section>
<!-- End Series Product -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/jquery.simplePagination.js"></script>
      <script>
        $(document).ready(function(){
        // jQuery Plugin: http://flaviusmatis.github.io/simplePagination.js/
          var items = $(".col-md-4.col-sm-12");
          var numItems = items.length;
          var perPage = 9;
          items.slice(perPage).hide();
          $('.pagina-block').pagination({
              items: numItems,
              itemsOnPage: perPage,
              prevText: "&laquo;",
              nextText: "&raquo;",
              onPageClick: function (pageNumber) {
                var showFrom = perPage * (pageNumber - 1);
                var showTo = showFrom + perPage;
                items.hide().slice(showFrom, showTo).show();
              }
          });
        });
      </script>

{% schema %}
  {
    "name": "Series product wrap",
    "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
        }
          ],
    "blocks": [
    {
      "type": "block",
      "name": "Section Block",
      "settings": [
          {
            "type": "header",
            "content": "Series 1"
          },
        {
          "type": "image_picker",
          "id": "image1",
          "label": "image"
        },
        {
          "type": "text",
          "id": "title1",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "description1",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "link1",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "button1",
          "label": "Button"
        },
        {
            "type": "header",
            "content": "Series 2"
          },
        {
          "type": "image_picker",
          "id": "image2",
          "label": "image"
        },
        {
          "type": "text",
          "id": "title2",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "description2",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "link2",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "button2",
          "label": "Button"
        },
        {
            "type": "header",
            "content": "Series 3"
          },
        {
          "type": "image_picker",
          "id": "image3",
          "label": "image"
        },
        {
          "type": "text",
          "id": "title3",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "description3",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "link3",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "button3",
          "label": "Button"
        },
        {
            "type": "header",
            "content": "Series 4"
          },
        {
          "type": "image_picker",
          "id": "image4",
          "label": "image"
        },
        {
          "type": "text",
          "id": "title4",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "description4",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "link4",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "button4",
          "label": "Button"
        },
        {
            "type": "header",
            "content": "Series 5"
          },
        {
          "type": "image_picker",
          "id": "image5",
          "label": "image"
        },
        {
          "type": "text",
          "id": "title5",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "description5",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "link5",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "button5",
          "label": "Button"
        },
        {
            "type": "header",
            "content": "Series 6"
        },
        {
          "type": "image_picker",
          "id": "image6",
          "label": "image"
        },
        {
          "type": "text",
          "id": "title6",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "description6",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "link6",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "button6",
          "label": "Button"
        },
        {
            "type": "header",
            "content": "Series 7"
        },
        {
          "type": "image_picker",
          "id": "image7",
          "label": "image"
        },
        {
          "type": "text",
          "id": "title7",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "description7",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "link7",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "button7",
          "label": "Button"
        },
        {
            "type": "header",
            "content": "Series 8"
        },
        {
          "type": "image_picker",
          "id": "image8",
          "label": "image"
        },
        {
          "type": "text",
          "id": "title8",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "description8",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "link8",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "button8",
          "label": "Button"
        },
                {
            "type": "header",
            "content": "Series 9"
        },

        {
          "type": "image_picker",
          "id": "image9",
          "label": "image"
        },
        {
          "type": "text",
          "id": "title9",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "description9",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "link9",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "button9",
          "label": "Button"
        },
                          {
          "type": "header",
          "content": "Series 10"
        },
        {
          "type": "image_picker",
          "id": "image10",
          "label": "image"
        },
        {
          "type": "text",
          "id": "title10",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "description10",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "link10",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "button10",
          "label": "Button"
        }
      ]
    }
  ],
    "presets": [
      {
        "name": "Series product wrap"
      }
    ]
  }
{% endschema %}