<section class="zakelijk-hero">
  <div class="container">
    <div class="zakelijk-hero-media">
      {% if section.settings.hero_picker == 'video' %}
        {% render 'video-component',
          id: section.id,
          s: section.settings,
          custom_video_url: section.settings.hero_video,
          custom_poster: section.settings.hero_image,
          max_height: '390px'
        %}
      {% else %}
        {% if section.settings.hero_image != blank %}
          {{ section.settings.hero_image | image_url: width: 800 | image_tag: class: 'hero-image-render' }}
        {% endif %}
      {% endif %}
    </div>

    <div class="zakelijk-hero-content">
      <div>
        {% if section.settings.hero_heading != blank %}
          <div class="zakelijk-hero-heading-wrapper">
            {{ section.settings.hero_heading }}
          </div>
        {% endif %}

        {% if section.settings.button_text != blank and section.settings.button_link != blank %}
          <a href="{{ section.settings.button_link }}" class="btn-orange">
            {{ section.settings.button_text }}
          </a>
        {% endif %}
      </div>

      <div class="zakelijk-hero-footer">
        {% if section.settings.footer_text != blank %}
          <p class="zakelijk-hero-footer-text">
            {{ section.settings.footer_text }}
          </p>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% style %}
  .zakelijk-hero {
    background-color: #fbba00;
    padding: 60px 0;
  }
  .zakelijk-hero .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 57px;
  }
  .zakelijk-hero-media {
    flex: 1;
    width: 100%;
    position: relative;
  }

  .zakelijk-hero-media .video-section,
  .zakelijk-hero-media .deferred-media,
  .zakelijk-hero-media img,
  .zakelijk-hero-media iframe {
    border-radius: 10px;
    overflow: hidden;
    max-height: 390px;
    width: 100%;
    object-fit: cover;
  }
  .zakelijk-hero-media .deferred-media__poster-button {
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: #ffffff;
    width: 70px;
    height: 70px;
  }
  .zakelijk-hero-media .deferred-media__poster-button svg {
    width: 70px;
    height: 70px;
  }
  .zakelijk-hero-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 72px;
  }
  .zakelijk-hero-heading-wrapper * {
    font-family: 'Zilla Slab', serif;
    font-size: 44px;
    line-height: 52px;
    text-align: left;
    font-weight: 400;
    margin-bottom: 24px;
  }
  .zakelijk-hero-footer-text {
    font-family: 'Zilla Slab', serif;
    font-weight: 600;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    margin-bottom: 23px;
  }

  @media (max-width: 767px) {
    .zakelijk-hero .container {
      flex-direction: column;
      gap: 25px;
      text-align: center;
    }
    .zakelijk-hero-heading-wrapper p {
      font-size: 32px;
      line-height: 42px;
    }
  }
{% endstyle %}

{% schema %}
{
  "name": "Zakelijk Hero",
  "settings": [
    {
      "type": "richtext",
      "id": "hero_heading",
      "label": "Heading",
      "default": "<p>Thuisgevoel, ook op kantoor met meubels van De Meubel Importeur</p>"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Ontdek de mogelijkheden"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "header",
      "content": "Media"
    },
    {
      "type": "radio",
      "id": "hero_picker",
      "label": "Hero media",
      "options": [
        { "label": "Video", "value": "video" },
        { "label": "Afbeelding", "value": "image" }
      ],
      "default": "image"
    },
    {
      "type": "video_url",
      "id": "hero_video",
      "label": "Video URL",
      "accept": ["youtube", "vimeo"],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
      "visible_if": "{{ section.settings.hero_picker == 'video' }}"
    },
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Afbeelding / Video Poster"
    },
    {
      "type": "header",
      "content": "Footer"
    },
    {
      "type": "text",
      "id": "footer_text",
      "label": "Footer tekst",
      "default": "Deze bedrijven gingen je voor:"
    },
    {
      "type": "image_picker",
      "id": "logo_business_1",
      "label": "Logo Zakelijk 1"
    },
    {
      "type": "text",
      "id": "text_business_1",
      "label": "Tekst Zakelijk 1"
    },
    {
      "type": "image_picker",
      "id": "logo_business_2",
      "label": "Logo Zakelijk 2"
    },
    {
      "type": "text",
      "id": "text_business_2",
      "label": "Tekst Zakelijk 2"
    },
    {
      "type": "image_picker",
      "id": "logo_business_3",
      "label": "Logo Zakelijk 3"
    },
    {
      "type": "text",
      "id": "text_business_3",
      "label": "Tekst Zakelijk 3"
    },
    {
      "type": "image_picker",
      "id": "logo_business_4",
      "label": "Logo Zakelijk 4"
    },
    {
      "type": "text",
      "id": "text_business_4",
      "label": "Tekst Zakelijk 4"
    }
  ],
  "presets": [
    {
      "name": "Zakelijk Hero"
    }
  ]
}
{% endschema %}
